.cards {
  padding-top: 40px;
}

.cards__inner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cards__grid {
  display: grid;
  width: 100%;
  place-items: center;
  grid-template: repeat(3, 1fr) / 1fr;
}

.cards__grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 267px;
  padding: 24px 32px;
}

.cards-header {
  font-size: 26px;
}

@media(min-width: 992px) {
  .cards__grid {
    grid-template: 1fr / repeat(3, 1fr);
  }
  
}